// Navigation Styles here
.menu {
    display: flex;
    margin-left: 62px;

        @media @mobile {
            margin-left: 0;
            }

    .btn {
        .custom-btn(200px, blue, black);
      margin-left: 20px;
      font-size: 1.8rem;
        }

}
